
button.primary {
    color: white;
    background-color: var(--primary);
    border-radius: 1e10px;
    padding: 10px 15px;
    transition-property: background-color;
    transition-duration: 0.3s;
}
button.primary:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}

button.secondary {
    border-radius: 15px;
    padding: 10px 15px;
    transition-property: background-color;
    transition-duration: 0.3s;
}
button.secondary:hover {
    background-color: var(--rearground);
    cursor: pointer;
}

button.tertiary {
    color: var(--primary);
    padding: 10px 15px;
    border-radius: 1e10px;
    border: 2px solid transparent;
    transition-property: border-color;
    transition-duration: 0.3s;
}
button.tertiary:hover {
    border-color: var(--primary);
    cursor: pointer;
}