
:root {
    --primary: #1e69da;
    --primary-hover: #185abc;
    --background-border: rgb(220, 220, 220);
    --background: white;
    --rearground: rgb(240, 243, 246);
    --rearground-border: rgb(200, 200, 200);
    --rearground-active: rgb(225, 230, 235);
    --rearground-in-background: white;
    --foreground: black;
    --foreground2: rgb(60, 60, 60);
    --foreground3: rgb(120, 120, 120);
    --popup-background: white;
}

:root {
    --padding-sm: 10px; /* small */
    --padding-md: 15px; /* medium */
    --padding-lg: 30px; /* large */
    --padding-df: var(--padding-md); /* default = medium */
    --content-max-width: 1600px;

    --router-fadein-keyframe: page_fade-in;
    --router-fadeout-keyframe: page_fade-out;
}

.dark {
    --background: black;
    --background-border: rgb(50, 51, 53);
    --rearground: rgb(30, 31, 33);
    --rearground-border: rgb(70, 71, 73);
    --rearground-active: rgb(50, 51, 53);
    --rearground-in-background: rgb(40, 41, 43);
    --foreground: white;
    --foreground2: rgb(160, 160, 160);
    --foreground3: rgb(120, 120, 120);
    --popup-background: rgb(40, 41, 43);

    --ripple: rgb(255, 255, 255, 0.3);
    --ripple-hover: rgb(255, 255, 255, 0.1);
}